<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="../../static/style.css">
<script src="../../static/script.js"></script>
</head>
<body>

<div class="header">
  <a href="#default" class="logo"><b>Quizz In</b></a>
  <div class="header-right">
    <!-- <a class="active" href="#home">Home</a>
    <a href="#contact">Add Quiz</a> -->
    <a href="../login/">logout</a>
  </div>
</div>

<div class="stquiz" id="stquiz" style="padding-left:20px">
</div>

<div class="stquiz" id="question-card" style="padding-left:20px">
</div>
<div class="timerq"><span id="minutes">00</span>:<span id="seconds">00</span></div>

<div class="finish" id="finish" onclick="finish()"><a>Finish</a></div>
<div class="finish" id="back" onclick="back()"><a>back</a></div>





</body>
</html>
